/*************** Universal ****************/

* {
  margin: 0%;
  padding: 0%;
}


html { 
  box-sizing:border-box
}

*, *:before, *:after{
  box-sizing: inherit;
}

/**************** App **************/

.app-flex {
  display: flex;
  flex-direction: column;
}

/************** UsersList ***********/

.users-list {
  background-color: aquamarine;
}

/**************** UsersForm **************/

#form-submit {
  text-align: center;
  background-color: #6946a6 ;
  color: #fff;
  padding: 1rem 0rem;
} 

.form-title {
  padding-bottom: 1rem;
}

.title-form {
  display: block;
  margin-top: 5px;
}

.input-form {
  width: 80%;
  height: 1.4rem;
  outline: 0;
  border: 0;
  margin-top: 7px;
}

.input-password {
  width: 75%;
  height: 1.4rem;
  border: 0;
  outline: 0;
  margin-top: 7px;
}

.input-date {
  width: 80%;
  height: 1.4rem;
  border: 0;
  outline: 0;
  margin-top: 7px;
  text-align: center;
}

.btn-view {
  width: 5.6%;
  border: 0;
  background-color: transparent;
  height: 1.4rem;
  background-color: white;
  margin-left: -.6%;
  display: inline-block;
}


.btn-submit {
  margin-top: 1rem;
  padding: .2rem 2rem; 
  font-weight: bold;
  background-color: #48297c;
  border: 1px solid #fff;
  color: white;
  box-shadow: #48297c 5px 6px 1px 1px;
}

.btn-submit:active {
  box-shadow: unset;
  color: #48297c;
  background-color: #fff;
}